/* GENERAL STYLE SHEET FOR TICKETING SERVICE */

	/* BODY */
	* {  box-sizing: border-box; } html { scroll-behavior: smooth; }
	body {	font-size:15px; line-height:1.6;
    		font-family:arial; 
    		margin:0;
	      	background:#efefef;
	      	padding-top:60px;
	     }




	/* HEADER AND FOOTER */
	#header {position:fixed; top:0; left:0; right:0; width:full; height:60px; text-align:center;}
	#header img {height:50px; margin:5px; width:auto;}
	#footer{width:full; background:white; text-align:center; margin:0; margin-top:40px;}
	#footer a {display:inline-block;}




	/* USER INPUT ELEMENTS */
	button {padding:10px; border:1px solid black; background:dimGray; color:white; border-radius:10px; transition:0.5s;}
	button:hover {scale:1.05; background:azure; color:black;}

	input {padding:10px; border-radius:10px; border:1px solid black;};

	dropdown: {padding: 10px; border-radius:10px; border:1px solid black;}




	/* TEXT ELEMENTS */
	.disclaimer {font-size:12px;}

	.titleBar {width:100%; margin:10px; color:white; text-align:left; border:1px solid black; border-radius:10px;}
	.titleBar h3{display:inline-block; border:2px solid white; color:white; border-radius:50%;}
	.titleBar h2{display:inline-block; color:white;}

	.container{width:100%; padding:10px; max-width:1000px; margin:10px; background:white; border:1px solid black; border-radius:10px; animation:fadeIn 0.5s;}


	/* LOADING SCREEN ELEMENTS */
	#loader {position:fixed; top:0; left:0; right:0; bottom:0; opacity:1;
		linear-gradient(270deg, #172cc3, #288537, #b47f26);
		background-size: 600% 600%;
		-webkit-animation: loaderAnim 4s ease infinite;
    		-moz-animation: loaderAnim 4s ease infinite;
    		animation: loaderAnim 4s ease infinite;
		z-index:1000; text-align:center;
		transition: opacity 1s;
	       }
	#loaderLogo {z-indez:1001; position:static; color:white; font-size:21px; font-weight:bold; top:30%; margin:auto;}

	@-webkit-keyframes loaderAnim {
	    0%{background-position:0% 50%;}
	    50%{background-position:100% 50%;}
	    100%{background-position:0% 50%;}
	}
	@-moz-keyframes loaderAnim {
	    0%{background-position:0% 50%;}
	    50%{background-position:100% 50%;}
	    100%{background-position:0% 50%;}
	}
	@keyframes loaderAnim {
	    0%{background-position:0% 50%;}
	    50%{background-position:100% 50%;}
	    100%{background-position:0% 50%;}
	}

	@keyframes fadeIn {
		0%{opacity:0;}
		100%{opacity:1;}
	}

